.textoA{

    position: relative;
    top: 90px;
    left: 3cm;
    padding-bottom: 100px;
}

.texto{
    width: 500px;
    height: 433px;
    font-size: 20px;
    border:none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
}

.logo{
    position: absolute;
    top: 1cm;
}

.botonE{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background:#0A3871;
    color: #D8DFE8;
    font-size: 15px; 
 

}

.botonE:active {
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.botonD{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 15px;
}

.botonD:active {
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.extra{
    padding-left: 50px;
    padding-bottom: 133px;
   
    
  }
/*Modulo de conversion*/ 
.botonCopy{
    width: 250px;
    height: 55px;
    border-radius: 15px;
    background: #dfe3ea;
    color: #0A3871;
    font-size: 15px;

} 

.botonCopy:active {
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.textoconvert{
    
    width: 500px;
    height: 433px;
    font-size: 20px;
   border: none;
    color: #0A3871;
    background-color: rgb(233, 243, 243);
    
}